@import "helpers/variables";
@import "helpers/fonts";
@import "helpers/mixins";
@import "helpers/body";
@import "helpers/navigation";
@import "helpers/footer";

.ab-home {
  background: url("../images/about-home/beach-boardwalk-selfie 1.png") no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100vw;

  .container {
    height: 75vh;

    h1 {
      @include h1font();
      font-weight: bold;
      color: #EC008C;
      text-align: center;
    }
  }

}

.ab-feature {
  height: 100vh;
  padding-bottom: 4rem;
  background-color: #FFF7E3;
  font-family: "Segoe UI Regular", serif;

  h4 {
    text-align: center;
    font-style: italic;
    background: #0D1025;
    padding: 1rem;
    color: white;
  }

  .container-fluid {
    .left-side {
      padding-right: 20rem;

      h3 {
        @include h3font;
      }

      p {
        @include pfont;
      }
    }
  }
}

.ab-feature-2 {
  height: 100vh;

  .container-fluid {
    .left-side {
      padding-left: 20rem;

      h3 {
        @include h3font;
      }

      p {
        @include pfont;
      }
    }
  }
}

.values {
  background-color: #FFF7E3;
  padding: 3rem 0;

  .container-fluid {
    h3 {
      @include h3font;
      font-weight: bold;
    }

    .col-xl-3 {
      padding-left: 0;

      span {
        background-color: #EC008C;
        padding: 1rem 1.2rem;
        color: white;
      }

      p {
        @include pfont;
      }
    }
  }
}


.ab-team {
  margin-bottom: 5rem;
  padding-bottom: 5rem;

  .container-fluid {
    margin: 5rem 0;

    h3 {
      @include h3font;
      padding-bottom: 3rem;
      font-weight: bold;
    }


    .card-deck {
      .card {
        border: none;

        .card-body {


          .card-title {
            @include headerstyle();
            font-size: 25px;
          }

          .card-text {
            font-size: 20px;
          }

          .icons {
            a {
              padding: 0 0.5rem;
              color: black;
              font-size: 20px;

              &:hover {
                color: #EC008C;
              }
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 1500px) {
  img {
    width: 400px;
  }
  .ab-home {
    height: 77vh;
  }
  .ab-feature {
    .container-fluid {
      .left-side {
        padding-right: 10rem;

      }
    }
  }
  .ab-feature-2 {
    height: 80vh;

    .container-fluid {
      .left-side {
        padding-left: 10rem;
      }
    }
  }
  .ab-team {
    .container-fluid {
      margin: 5rem 0 0 0;

      .card-deck {
        .card {
          margin-left: 0;
        }
      }
    }
  }

}

@media screen and (max-height: 800px) {
  .ab-feature {
    .container-fluid {
      margin-top: 0;

      .d-flex {
        img {
          width: 340px;
        }
      }

    }
  }
}