@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@font-face {
  font-family: 'Segoe UI Regular';
  src: local('./fonts/Segoe UI.woff'), url('./fonts/Segoe UI.woff') format(".woff");
}