footer {
  background: $core-bg;
  height: 40vh;
  color: white;
  text-align: center;
  .container-fluid{
    margin: 0;
  }

  .row {
    padding-top: 4rem;

    .left {

      h3 {
        @include h3font;
      }

      .icons {
        padding-top: 1.5rem;

        a {
          padding: 0 0.5rem;

        }
      }

      p {
        @include pfont;
        padding-top: 2rem;
      }
    }


    .right {
      button {
        color: white;
      }

      p {
        @include pfont;

        &:nth-child(2) {
          padding-bottom: 2rem;
        }
      }

      hr {
        background-color: white;
        padding: 0 0rem;
        width: 30%;
        text-align: left;
        margin: 0 auto;
        height: 1px;
      }

      h3 {
        @include h3font;
        padding-top: 4rem;
      }
    }
  }
}

@media only screen and (max-height: 800px) {
  footer{
    height: 45vh;
  }
}